$bgc: #EAEAEA;
$bgc-one-product: #FFFFFF;
$default-color: #1C1C27;
$title-color: #101010;
$no-important-color: #838383;
$buy-color: #000000;
$important-color: #FFA542;
$count-color: #FFFFFF;
$footer-nav-color: #000000;
$button-color: transparent;

$shadow-color: #0000001A;