@import "@/app/scss/globals/color";

$default-padding: 25px;

$default-radius: 30px;

$title-size: 1.5em;
$title-weight: 700;

$count-size: 0.9em;

$products-gap: 25px;

$product-title-size: 1.06em;
$product-title-weight: 600;

$no-important-size: 1.06em;
$no-important-weight: 600;

$button-size: 1.06em;
$button-weight: 600;

$min-width-3: 1135px;
$count-3: 3;

$min-width-2: 750px;
$count-2: 2;

$min-width-1: 350px;
$count-1: 1;


$column-count-in-footer-nav: 2;
$row-count-in-footer-nav: 3;

$shadow: 0 0 20px 0 $shadow-color;
