@import "@/app/scss/globals/values";

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;

  li {
    min-width: 350px;
  }
}

@media screen and (min-width: $min-width-3) {
  .products {
    grid-template-columns: repeat($count-3, 1fr);
  }
}
@media screen and (max-width : $min-width-3 - 1) {
  .products {
    grid-template-columns: repeat($count-2, 1fr);
  }
}
@media screen and (max-width : $min-width-2 - 1) {
  .products {
    grid-template-columns: repeat($count-1, 1fr);
  }
}


