@import "@/app/scss/globals/color";
@import "@/app/scss/globals/values";


$route-gap: 50px;

$language-gap: 20px;

.page {
  display: grid;
  width: 100%;
}

.root {
  height: min-content;
  padding: $default-padding;

  display: grid;
  grid-template-columns: auto max-content max-content;
  column-gap: $route-gap;

  align-self: end;


  border-radius: 30px 30px 0 0;
}

.header {
  display: flex;
  justify-self: start;
}

.pointsArr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  column-gap: 50px;
}

.oneCategory {
  width: 40%;
  box-sizing: border-box;
}

.oneCategory:nth-child(4) {
  width: 100%;
}

.language_section {
  position: absolute;
  left: 54%;

  display: flex;
  align-self: end;
  gap: $language-gap;

  .activeLanguage {
    color: $important-color;
  }
}

.contactsArr {
  display: flex;
  gap: 20px;
}

.img {
  width: 31px;
  height: 31px;
}