@import "@/app/scss/globals/color";

.page {

  display: flex;
  justify-content: center;

  background-color: $bgc;
}

.route {
  padding: 0 10px;
  width: 1135px;
  min-height: 100vh;

  display: grid;
  gap: 30px;
  justify-self: center;


}