@import "@/app/scss/globals/color";

.page {
  overflow: hidden;

  display: grid;
  justify-items: center;

  background-color: $bgc;
}

.route {
  padding: 0 10px;
  max-width: 1135px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content auto min-content;
  gap: 30px;
  justify-self: center;

}

.scroll {
  display: grid;
  justify-items: center;

  background-color: $bgc;

  overflow: hidden;
}
