@import "@/app/scss/globals/values";

$route-gap: 20px;

$photo-size: 300px;

$data-gap: 20px;

$description-size: 400px;

.page {
  overflow-y: auto;
  z-index: $z-index-modal;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.root {
  position: absolute;

  display: flex;
  flex-flow: column;

  .button_close {
    display: flex;
    width: min-content;
    justify-self: end;
  }

  .section {
    display: flex;
    gap: $route-gap;
  }

  .photo {
    width: $photo-size;
    height: auto;
  }

  .data {
    display: flex;
    flex-flow: column;
    gap: $data-gap;
  }

  .description {
    width: $description-size;
    display: flex;
    flex-wrap: wrap;
  }

  .price {
    text-align: end;
  }
}

@media screen and (max-width: $min-width-2 - 1) {
  .section {
    width: 100%;
    flex-flow: column;


    .photo {
      width: $photo-size / 2;
      height: auto;
      display: flex;
      align-self: center;
    }
    .data {
      width: 100%;
    }

    .description {
      width: 100%;
    }
  }
}

