@import "@/app/scss/globals/color";
@import "@/app/scss/globals/values";

$price-size: 1.06em;
$price-weight: 600;

$button-size-hover: 1.15em;

.root {
  display: grid;
  row-gap: 50px;

  .section {

  }

  .more {
    display: flex;
    justify-self: start;
    align-content: end;

    font-size: $count-size;
    font-weight: 400;

    text-decoration: underline;
  }

  .likeIcon {
    position: absolute;
    display: flex;
    justify-self: end;
  }

  .image_section {
    display: flex;
    justify-content: center;

    .image {
      width: 237px;
      height: 237px;
    }
  }


  .info {
    display: flex;
    flex-flow: column;
    gap: 15px;
  }
}

.section {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: $price-size;
  font-weight: $price-weight;

  color: $important-color;
}

.rate_section {
  display: flex;
  gap: 10px;

  align-items: center;
}

.rate_icon {
  width: 23px;
}

.buy_button {
  transition: all 0.25s ease;
}

.buy_button:hover {
  font-size: $button-size-hover;
  transition: all 0.25s ease;
}