@import "@/app/scss/globals/values";
@import "@/app/scss/globals/color";

$root-gap: 10px;

$columns-gap: 103px;

$results-section-w: 349px;

$res_word-size: 0.9375em;
$res_word-weight: 600;
$res_word-gap: 10px;

$res_button-h: 65px;
$res_button-radius: 20px;


.root {
  display: flex;
  flex-flow: column;
  gap: $root-gap
}

.header {
  font-size: $product-title-size;
  font-weight: $product-title-weight;
}

.columns {
  display: flex;
  gap: $columns-gap;

  justify-items: end;

  .products {
    display: grid;
    row-gap: $products-gap;
  }
}

.aside {
  width: 100%;
  display: flex;
  justify-content: end;

  .results_section {
    padding: 0;

    display: flex;
    flex-flow: column;
    gap: $res_word-gap;

    width: $results-section-w;
    height: min-content;

    .res_data {
      padding: $default-padding $default-padding 0 $default-padding;
      display: flex;
      justify-content: space-between;

      font-weight: $res_word-weight;

      .res_word {
        font-size: $res_word-size;
      }
    }

    .final_button {
      height: $res_button-h;

      background-color: $title-color;

      border-radius: $res_button-radius;
      color: $bgc-one-product;
    }
  }
}

